
<%= form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.label :name, "店名" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tel, "電話番号" %>
    <%= f.text_field :tel, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :web_url, "ホームページ" %>
    <%= f.text_field :web_url, class: "form-control" %>
  </div>

    <%= f.submit "登録する", class: "btn btn-default" %>

<% end %>
