<div class= "sidebar float-right">
     <img src="<%= asset_path "hooters_girl3.jpg" %>", class="<%= @class %>">
</div>
    <% @restaurants.each do |restaurant| %>
    <div class=" col-md-7 restaurants-index float-left">
      <h4><%= link_to restaurant.name, restaurant_url(restaurant) %></h4><br />
      <h4><%= restaurant.average_satisfaction_star(restaurant) %>
      <%= number_with_precision(restaurant.average_satisfaction(restaurant), precision: 1) %></h4><br />
      <% restaurant.reviews.each_with_index do |review, index| %>
      <%
        if index >= 1
          break
        end
        %>
      <%= truncate(review.body, length:200) %>
      <%= link_to '続きはこちら', restaurant_path(restaurant) %><br />
      <% end %>
    </div>
    <% end %>

<div class=" col-md-7 restaurants-index float-left">
    <%= link_to '新しいレストランの情報を投稿する', new_restaurant_path, class: "btn btn-default" %>
</div>
<div class=" col-md-7 float-left">
<%= paginate @restaurants %>
</div>
